<footer class="footer" id="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Pannhapat
                    </a>
                </li>
                <li>
                    <a href="#aboutus">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#counting">
                        Counting
                    </a>
                </li>
                <li>
                    <a href="lab4">
                        Lab 4
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}},  by
            <a href="./" target="_blank">Pannhapat</a> .
        </div>
    </div>
</footer>
