<div class="spacetop text-center">

<hr class="alert-danger">
<h2 class="text-center"> Categories Menu</h2>
<div class="row">
    <div *ngFor="let category of categories" class="col-sm-1 ">
      <div  class="card">
        <img class="card-img  img-thumbnail" [src]="category.imageurl" (click)="showCategory(category)">
      </div>
    </div>

</div>

  <div class="profile">
    <div class="profile-text text-center">
      <h1>{{ showingCategory.name }}</h1>
       <img class="img-category" [src]="showingCategory.imageurl" >
    </div>
  </div>

<hr class="alert-danger">
</div>
