<div class="space50 text-center">
  <h2>Task Todo</h2>
  <div class="row">
    <div class ="col-md">
      <div class="list-group">
        <button (click)="showTask(task)" *ngFor="let task of items; index as i;" class="list-group-item list-group-item-action">
          {{task.name }} <button  (click)="deleteItem(task)" > <i class="fa fa-trash"></i></button>
        </button>
      </div>
    </div>

    <div class ="col-md">
      <div class="row">

        <div class="col-sm">
          <div class="profile">
            <div class="profile-text text-center">
              <h2>Task ID : {{ showingTask.id }}</h2>
              <h2>Task Name : {{ showingTask.name }}</h2>
              <h2>Task Description {{ showingTask.description }}</h2>
            </div>
          </div>
        </div>
     </div>
      </div>
  </div>
</div>
<div class="space50 text-center">
    <div class="row">
      <div class ="col-md">
        <div class="card">
          <div class="col-md"> <br><br>
          Task Name : <input #newItem>
          Task Description : <input #newItem2>
          <br><br>
          <button class="btn btn-info" (click)="addNewItem({name:newItem.value, description:newItem2.value})">เพิ่ม Todo Task</button>
        </div>
        </div>
      </div>
    </div>
  </div>
